{% extends "AppCoder/layout.html" %} {% block title %} Cree un nuevo post {% endblock %}
{% block content %}

<main class="container mt-5">
    {% if user.is_authenticated %}

        <h1 class="tituloPrincipal">Nuevo post</h1>
        
        <div class="form-group my-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <button class="btn btn-dark">Post</button>
            </form>
        </div>
        <script>
            var name = "{{ user.id }}";
            document.getElementById("user").value
                = name

        </script>

    {% else %}
        <p>No estás autorizado a esta sección</p>
    {% endif%}    

</main>
{% endblock %}
