{% extends "AppCoder/layout.html" %} {% block title %} Elimine el post {{post.pk}}{% endblock %}
{% block content %}
<p>
PROYECTO FINAL CODERHOUSE - GRUPO 2 - Jeremías Ruiz / Jesús Lacruz Andrade /
Joaquín Alonso
</p>
<main class="container mt-5">
    <h1 class="tituloPrincipal">¿Desea eliminar el post {{post.pk}} - {{post.title}} definitivamente?</h1>
    
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <button>Borrar definitivamente</button>
        </form>
    </div>    

</main>
{% endblock %}
