{% extends "AppCoder/layout.html" %} {% block title %} Edite el post {{post.pk}}{% endblock %}
{% block content %}
<p>
PROYECTO FINAL CODERHOUSE - GRUPO 2 - Jeremías Ruiz / Jesús Lacruz Andrade /
Joaquín Alonso
</p>
<main class="container mt-5">
    <h1 class="tituloPrincipal">Edite el post {{post.pk}} - {{post.title}}</h1>
    
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>Actualizar</button>
        </form>
    </div>    

</main>
{% endblock %}
