{% extends "AppCoder/layout.html" %} {% block title %} Inicio {% endblock %}
{%block content %}
<p>
  PROYECTO FINAL CODERHOUSE - GRUPO 2 - Jeremías Ruiz / Jesús Lacruz Andrade /
  Joaquín Alonso
</p>
<menu class="menuInicio">
  <h1 class="tituloInico">Bienvenido</h1>
  <p class="p-inicio">
    En esta pagina web podras dejar una reseña del disco que más te guste.
  </p>
  <p class="p-inicio">
    Podras registrar un usuario o buscar a algun amigo, si lo deseas
  </p>
  <p class="p-inicio">O contactarte con nosotros</p></menu
>
{% endblock %}
