{% extends "AppCoder/layout.html" %} {% block title %} Post {% endblock %}
{% block content %}
<p>
PROYECTO FINAL CODERHOUSE - GRUPO 2 - Jeremías Ruiz / Jesús Lacruz Andrade /
Joaquín Alonso
</p>
<main class="container mt-5">
    <h1 class="tituloPrincipal">Todos los post</h1>
    {% for post in object_list %}
        <span>
            <h4><a href="{% url 'article-detail' post.pk  %}">{{post.title}} - {{post.author}}</a></h4>
            <a href="{% url 'edit-post' post.pk  %}">Editar</a> - <a href="{% url 'delete-post' post.pk   %}">Borrar</a>
        </span>
        <div>
            <p>
            {% if post.body|length > 500 %}
                {{post.body|slice:500|safe}}...
            {% else  %}
                {{post.body |safe}}
            {% endif %}
            </p>
        </div>
    
    {% endfor %}

</main>
{% endblock %}
